<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>57</integer>
	<key>Time Stamp</key>
	<real>1608142464.496196</real>
	<key>UUID</key>
	<string>1327E650-9BFB-4F3B-A5C1-1CBBC319CC55</string>
</dict>
</plist>
