<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>57</integer>
	<key>Time Stamp</key>
	<real>1608116502.513443</real>
	<key>UUID</key>
	<string>DCEB5E4C-3432-45A4-9F26-2A4400D92C54</string>
</dict>
</plist>
